@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
html {
  font-size: 62.5%;
}

a {
  color: black;
}

.text {
  letter-spacing: 5%;
  line-height: 30px;
  margin-top: 1vw;
  height: 24%;
  background-color: #eee;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vw;
  width: 100%;
  z-index: 10;
  position: absolute;
}

.header-title {
  font-size: 2vw;
  font-family: ヒラギノ明朝 Pro;
}

.header-top {
  background-color: #fff;
  padding: 1vw;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.6rem;
}

.header-top:hover {
  color: #fff;
  background-color: black;
  -webkit-transform: translateY(-2px) rotate(2deg);
          transform: translateY(-2px) rotate(2deg);
  font-size: 2.0rem;
}

.first-v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.first-v_img {
  background-color: red;
  width: 50vw;
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;
}

.first-v_catch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-200%, -50%);
          transform: translate(-200%, -50%);
}

.first-v_catch_title {
  font-size: 40px;
  font-family: ヒラギノ明朝 Pro;
}

.first-v_catch_year {
  font-size: 30px;
  font-family: Zapfino;
  margin-top: 10vw;
}

.My-profile {
  width: 100%;
}

.My-profile_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.My-profile_title {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #eee;
  width: 80vw;
  margin: 10vh auto;
  letter-spacing: 0.5rem;
}

.box {
  width: 30%;
}

.box:nth-child(1) {
  height: 38.5vw;
}

.My-profile_img {
  width: 28vw;
  height: 50vh;
  margin: 0 auto;
}

.My-profile_info {
  font-weight: bold;
  font-size: 1.5vw;
  text-align: center;
  letter-spacing: 0.5vw;
  margin-top: 1vw;
}

b {
  font-weight: bold;
}

.pickup {
  width: 100%;
}

.pickup_title {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #eee;
  width: 80vw;
  margin: 10vh auto;
  letter-spacing: 0.5rem;
}

.pickup_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
}

.pickup_about::after {
  content: "";
  display: inline-block;
  width: 50rem;
  border-top: 5px solid #707070;
}

.pickup_about::before {
  content: "";
  display: inline-block;
  width: 50rem;
  border-top: 5px solid #707070;
}

.thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pickup_img {
  width: 50vw;
  margin: 30px auto;
}

.pc {
  -webkit-box-shadow: 7px 7px black;
          box-shadow: 7px 7px black;
}

.pickup_wrap {
  width: 50vw;
  margin: 60px auto;
}

.pickup_img_html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  width: 50vw;
}

.pickup_img_html img {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid black;
}

.pickup_img_html img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 5px solid orange;
}

.pickup_img_css {
  width: 50vw;
  background-color: red;
  height: 300px;
  margin-top: 5vw;
}

.pickup_img_css img {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid black;
}

.pickup_img_css img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 5px solid blue;
}

.access {
  background: -webkit-gradient(linear, left bottom, left top, from(skyblue), to(#EAF6FD));
  background: linear-gradient(0deg, skyblue, #EAF6FD);
  height: 45vw;
}

.access_title {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #eee;
  width: 80vw;
  margin: 10vh auto;
  letter-spacing: 0.5rem;
}

.access_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  background-color: #D0C5BA;
}

.textbox h3 {
  font-size: 2.5rem;
  text-align: center;
}

.textbox p {
  font-size: 1.6rem;
  line-height: 3rem;
  margin-top: 1vw;
}

.textbox p:nth-of-type(1) {
  padding-top: 2vw;
}

.map {
  width: 50%;
  height: 30vw;
  margin-left: 1vw;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 2vw;
}

footer::after {
  content: "";
  width: 80%;
  display: inline-block;
  border-top: 2px solid black;
  margin: 0 auto;
}

.footer_title {
  font-size: 2vw;
  font-family: ヒラギノ明朝 Pro;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vw;
}

.icon {
  font-size: 2.5rem;
  letter-spacing: 5px;
}

.bard {
  color: skyblue;
}

.face {
  color: blue;
}

.insta {
  color: palevioletred;
}
/*# sourceMappingURL=main.css.map */