html {
    font-size: 62.5%;
}

a {
    color: black;
}

.text {
    letter-spacing: 5%;    
    line-height: 30px;
    margin-top: 1vw;
    height: 24%;
    background-color: #eee;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}